.todo-list-project {
  background-color: #b9b9b9;
  padding: 2em 0;
  font-family: arial;
}

.todo-list-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  max-width: 600px;
  padding: 1em 1em 0.5em;
  position: relative;
}
@media screen and (max-width: 600px) {
  .todo-list-wrapper {
    max-width: 95%;
  }
}
.todo-list-wrapper h2 {
  color: #005792;
  font-size: 48px;
  line-height: 1.46808511em;
  margin-bottom: 0.4893617em;
  margin-top: 0;
}
.todo-list-wrapper p {
  color: #005792;
  font-size: 18px;
  font-weight: 700;
}
.todo-list-wrapper input {
  margin-bottom: 1em;
}
.todo-list-wrapper label {
  display: block;
}
.todo-list-wrapper input[type="text"] {
  background-color: transparent;
  border: 1px solid #aaa;
  box-sizing: border-box;
  font-size: 0.8em;
  color: #ababab;
  line-height: 2.0;
  padding: 0.5rem 0.5em 0.45rem;
  outline: none;
}
.todo-list-wrapper input[type="text"]:focus {
  border-color: #aaa;
  color: #333;
  background-color: #efefef;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
button {
  font-size: 16px;
  background-color: #017ad4;
  border: 1px solid #01406e;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(50, 50, 93, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}
button:hover {
  background-color: #3dacfe;
  transform: translateY(-2px);
}
button:active {
  transform: translateY(5px);
}
@media screen and (max-width: 800px) {
  button {
    font-size: 12px;
  }
}
.todo-list-wrapper .task-input {
  box-sizing: border-box;
  width: 75%;
}
@media screen and (max-width: 800px) {
  .todo-list-wrapper .task-input {
    width: 100%;
  }
}
.todo-list-wrapper .add-task {
  box-sizing: border-box;
  padding: 0.8em 1em;
  margin-bottom: 1rem;
  width: 21%;
}
@media screen and (max-width: 800px) {
  .todo-list-wrapper .add-task {
    width: 100%;
  }
}
.todo-list-wrapper .todo-list {
  border-radius: inherit;
  list-style: none;
  padding: 0;
}
.todo-list-wrapper .todo-list:last-child {
  margin-bottom: 0;
}
.todo-list-wrapper .todo-task {
  background-color: #ccc;
  border-radius: inherit;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin: 0.5em 0;
  padding: 1.25em 1em 1em 2.5em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .todo-list-wrapper .todo-task {
    padding-top: 1.75em;
  }
}
.todo-list-wrapper .task-title {
  font-size: 20px;
  display: block;
  margin-top: 0;
  padding-bottom: 1.5em;
  flex: 0 0 100%;
}
.todo-list-wrapper .toggle-complete {
  font-size: 12px;
  right: 1em;
  line-height: 1;
  padding: 0.75em;
  position: absolute;
  width: 40px;
  height: 40px;
}
.todo-list-wrapper .toggle-complete {
  background-color: #16d600;
  border-color: #11a300;
  top: 1rem;
}
.todo-list-wrapper .toggle-complete:hover {
  background-color: #11a300;
}
.btn-remove {
  background-color: #e20017;
  border-color: #af0012;
}
.btn-remove:hover {
  background-color: #af0012;
}
.todo-list-wrapper .blue {
  background-color: #005792;
}
.todo-list-wrapper .green {
  background-color: #0f9200;
}
.todo-list-wrapper .red {
  background-color: #92000f;
}
.todo-list-wrapper .completed {
  opacity: 0.5;
}
.todo-list-wrapper .completed .task-title {
  text-decoration: line-through;
}
.todo-list-wrapper .completed .toggle-color {
  pointer-events: none;
}



/* ITALO QUE FEZ */
.toogle-color-box, .actions {
  display: flex;
  justify-content: flex-start;
  align-content: center;
} 
.actions {
  justify-content: flex-end
}
